@page
@model MadOrderingssystem.Pages.MenuPage.EditAccessoryModel
@{
    ViewData["Title"] = "Rediger Tilbehør";
}
@if (Model.CustomerSession != null)
{
    @if (Model.CustomerSession.Role == Models.Roles.Management)
    {
        <div class="container">
            <form class="form-group" method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <label class="form-text">Navn</label>
                <input type="text" class="form-control" asp-for="@Model.Accessory.ProductName" />
                <span asp-validation-for="@Model.Accessory.ProductName" class="text-danger"></span>
                <label class="form-text">Pris</label>
                <input type="text" class="form-control" asp-for="@Model.Accessory.Price" />
                <span asp-validation-for="@Model.Accessory.Price" class="text-danger"></span>
                <label class="form-text">Id</label>
                <input type="text" class="form-control" asp-for="@Model.Accessory.Id" />
                <span asp-validation-for="@Model.Accessory.Id" class="text-danger"></span>

                <input type="submit" class="btn btn-success float-right" value="Rediger Tilbehør" placeholder="Ændre" style="padding:1rem;" />
            </form>
            <div>
                <a asp-page="MenuTable">Tilbage til Menu listen</a>
            </div>

        </div>
     }
 }
    else
    {
        <h1 class="text-center" style="font-family:'Times New Roman', Times, serif"> Du er ikke logget ind</h1>
        <div>
            <a asp-page="/Login/log_in">Login med din bruger</a>
        </div>
    }