@page
@model MadOrderingssystem.Pages.MenuPage.MainMenuModel
@{
    ViewData["Title"] = "Menu";
    @using MadOrderingssystem.Models;
}
      
<div>
    <div class="row">
        <div class="col-sm text-center">
            <h3 class="text-center">Søgning</h3>
            <form>
                Søg: <input type="text" asp-for="filtersøgning" />
                <button type="submit" value="Filter">Søg</button>
                <br />
                <p></p>
                Søg på det du ikke ville have med i din pizza: <input type="text" asp-for="filtersøgningIngredienser" />
                <button type="submit" value="Filter">Søg</button>
            </form>
        </div>
        <div class="col-sm">
            <h3 class="text-center">Menuer</h3>
            @foreach (Menu menu in Model.DicMenu.Values)
            {
        <div class="card m-3">
            <div class="card-header">
                <p>Navn:@menu.ProductName</p>
                <p>Pris:@menu.Price</p>
                <p>Menuen indeholder Pizzaer og Tilbehør</p>
                <p>Pizzaer</p>
                @foreach (Pizza pizza in menu.Pizzas)
                {
                    <p>pizzaens navn: @pizza.ProductName</p>
                    <p>pizzaens indhold: @pizza.Ingrediense</p>
                }
                <p>Tilbehør</p>
                @foreach (Accessory acc in menu.Accesories)
                {
                    <p>tilbehørets navn: @acc.ProductName</p>
                }
                <div class="card-footer text-center">
                    <form method="post">
                        <button type="submit" asp-page-handler="Buym" asp-route-id="@menu.Id" class="btn-success">Køb</button>
                    </form>
                </div>
            </div>
        </div>
            }
            <h3 class="text-center">Pizzaer</h3>

            @foreach (Pizza pizza in Model.DicPizza.Values)
            {
                <div class="card m-3">
                    <div class="card-header">
                        <p>Navn:@pizza.ProductName</p>
                        <p>Pris:@pizza.Price</p>
                        <p>Ingredienser:@pizza.Ingrediense</p>
                        <div class="card-footer text-center">
                            <form method="post">
                                <button type="submit" asp-page-handler="Buyp" asp-route-id="@pizza.Id" class="btn-success">Køb</button>
                            </form>
                        </div>
                    </div>
                </div>
            } <h3 class="text-center">Tilbehør & Drinks</h3>
            @foreach (Accessory accessory in Model.DicAccessories.Values)
            {
                <div class="card m-3">
                    <div class="card-header">
                        <p>Navn:@accessory.ProductName</p>
                        <p>Pris:@accessory.Price</p>
                        <div class="card-footer text-center">
                            <form method="post" >
                                <button type="submit" asp-page-handler="Buya" asp-route-id="@accessory.Id" class="btn-success">Køb</button>
                            </form>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="col-sm">
            <h3 class="text-center">Indkøbskurv</h3>
            @if (Model.Basket != null)
            {
                @foreach (Product product in Model.Basket)
                {
                    <ul>
                        <li>Navn: @product.ProductName</li>
                        <li>Pris: @product.Price</li>
                    </ul>
                    <br />
                }
        <form>
            <button type="submit" asp-page="/OrderPage/AddOrder" class="btn-success">Til indkøbskurv</button>
        </form>
            }

            

        </div>
    </div>
</div>

