@page "{id}"
@model MadOrderingssystem.Pages.OrderPage.DeleteOrderModel
@{
    ViewData["Title"] = "Slet Order";
    @using MadOrderingssystem.Models;
}

<div class="container">
    <form class="form-group" method="post">
        <label class="form-text">Id</label>
        <input type="text" readonly class="form-control" asp-for="@Model.Order.ID" />
        <span asp-validation-for="@Model.Order.ID" class="text-danger"></span>

        <label class="form-text">Kunde</label>
        <input type="text" readonly class="form-control" asp-for="@Model.Order.customer" />
        <span asp-validation-for="@Model.Order.customer" class="text-danger"></span>


        <label class="form-text">Produkter</label>
        <ul>
            @foreach (Product product in Model.Order.products)
            {
                <li>@product.ProductName </li>
            }
        </ul>
        <input type="hidden" readonly class="form-control" asp-for="@Model.Order.products" />
        <span asp-validation-for="@Model.Order.products" class="text-danger"></span>

        <label class="form-text">Total pris (DKK)</label>
        <input type="text" readonly class="form-control" asp-for="@Model.Order.TotalPrice" />
        <span asp-validation-for="@Model.Order.TotalPrice" class="text-danger"></span>

        <div style="padding:1rem;"></div>
        <input type="submit" class="btn btn-danger float-right" value="Slet order" placeholder="Delete" style="padding:1rem;" />
    </form>
    <div>
        <a asp-page="OrderList">Tilbage til Order listen</a>
    </div>
</div>
