@page "{id}"
@model MadOrderingssystem.Pages.OrderPage.EditOrderModel
@{
    ViewData["Title"] = "Redigere order";
    @using MadOrderingssystem.Models;
}


@if (Model.CustomerSession != null)
{
    @if (Model.CustomerSession.Role == Models.Roles.Management)
    {
        <div class="container">
            <form class="form-group" method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <label class="form-text">Produkter</label>
                @for (int i = 0; i < Model.Order.products.Count(); i++)
                {
                    <p>@Model.Order.products[i].ProductName</p>
                    <input asp-for="@Model.Order.products[i].IsSelsected" />
                    <input type="hidden" asp-for="@Model.Order.products[i].Id" />
                    <input type="hidden" asp-for="@Model.Order.products[i].Price" />
                    <input type="hidden" asp-for="@Model.Order.products[i].ProductName" />
                }
                <input type="hidden" asp-for="@Model.Order.customer" />
                <input type="hidden" asp-for="@Model.Order.ID" />
                <input type="hidden" asp-for="@Model.Order.TotalPrice" />

                <input type="submit" class="btn btn-success float-right" value="Redigere order" placeholder="Edit" style="padding:1rem;" />
            </form>
            <div>
                <a asp-page="OrderList">Tilbage til order listen</a>
            </div>

        </div>
    }
}
else
{
    <h1 class="text-center" style="font-family:'Times New Roman', Times, serif"> Du er ikke logget ind</h1>
    <div>
        <a class="text-center" asp-page="/Login/log_in">Login med din bruger</a>
    </div>
}